<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Temple Beth Shalom</title>
		<!-- CSS Libraries -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/normalize.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/pages/style.css"></link>
		<!--Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600,700,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:600i" rel="stylesheet">
		<!-- jQuery -->
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!-- Full Calender -->
		<link rel='stylesheet' href='/styles/fullcalendar.css' />
		<!-- Moment -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
		<script src="/js/moment-timezone.js"></script>
		<script src='/js/fullcalendar.js'></script>
		<script src="/js/calander.js"></script>
		<script type='text/javascript' src='/js/gcal.js'></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>




		<!-- Materialize JavaScript -->






		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

	<header>
	<div class="navbar-fixed">
		<nav class="nav-extended">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Temple Beth Shalom</a>

				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{{# each navLinks}}
					<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
						<a href="{{ href }}">{{ label }}</a>
					</li>
					{{/each}}
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
						<ul id="about-dropdown" class="dropdown-menu">
							{{# each about}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
						<ul id="community-dropdown" class="dropdown-menu">
							{{# each community}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					</li>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education<span class="caret"></span></a>
						<ul id="education-dropdown" class="dropdown-menu">
							{{# each education}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Holidays/Worship<span class="caret"></span></a>
						<ul id="worship-dropdown" class="dropdown-menu">
							{{# each worship}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
				</ul>



				<ul class="side-nav" id="mobile-demo">
					{{# each navLinks}}
					<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
						<a href="{{ href }}">{{ label }}</a>
					</li>
					{{/each}}
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
						<ul id="about-dropdown" class="dropdown-menu">
							{{# each about}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
						<ul id="community-dropdown" class="dropdown-menu">
							{{# each community}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					</li>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education<span class="caret"></span></a>
						<ul id="education-dropdown" class="dropdown-menu">
							{{# each education}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					<li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Holidays/Worship<span class="caret"></span></a>
						<ul id="worship-dropdown" class="dropdown-menu">
							{{# each worship}}
							<li {{#ifeq ../section key}} class="active"{{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
				</ul>

			</div>
			<div class="nav-content">
				<p>Manalapan, NJ</p>
			</div>
		</nav>
	</div>
		</header>



		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}

		</div>
		<!-- <div class="container">
			<div id="footer">
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div> -->
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}

		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}


		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
			<script src="/js/materialize.min.js"></script>


		{{{isAdminEditorJS user}}}


		<footer class="page-footer">
	    <div class="container">
	      <div class="row">
	        <div class="col s12">
	          <h5 class="white-text">Temple Beth Shalom</h5>
					<div>
				</div>
				<div class="row">
					<div class="col l4 s12 footer-column">
						<p>Community</p>
						<ul>
	            <li><a class="grey-text text-lighten-3" href="/blog">Reb on the Web</a></li>
	            <li><a class="grey-text text-lighten-3" href="/teencommittee">Teen Committee</a></li>
	            <li><a class="grey-text text-lighten-3" href="/sisterhood">Sisterhood</a></li>
	            <li><a class="grey-text text-lighten-3" href="/mensclub">Mens Club</a></li>
							<li><a class="grey-text text-lighten-3" href="/tbscares">TBS Cares</a></li>
	          </ul>
	        </div>
	        <div class="col l4  s12 footer-column">
	          <p class="white-text">Education</p>
	          <ul>
	            <li><a class="grey-text text-lighten-3" href="/religiousschool">Religious School</a></li>
	            <li><a class="grey-text text-lighten-3" href="/bnaimitzvah">B'nai Mitzvah</a></li>
	            <li><a class="grey-text text-lighten-3" href="/adultedu">Adult Education</a></li>
	          </ul>
						<p class="white-text">Worship</p>
						<ul>
							<li><a class="grey-text text-lighten-3" href="/highholidays">High Holidays</a></li>
							<li><a class="grey-text text-lighten-3" href="/prayers">Prayers</a></li>
						</ul>
	        </div>
					<div class="col l4  s12 footer-column">
	          <p class="white-text">About</p>
	          <ul>
	            <li><a class="grey-text text-lighten-3" href="#philosophyDiv">Philosophy</a></li>
	            <li><a class="grey-text text-lighten-3" href="#eventsDiv">Calendar</a></li>
	            <li><a class="grey-text text-lighten-3" href="/board">Board of Trustees</a></li>
						 	<li><a class="grey-text text-lighten-3" href="#locationDiv">Location</a></li>
							<li><a class="grey-text text-lighten-3" href="/staff">Staff</a></li>
	          </ul>
						<ul >
							{{#if user}}
							<li><a class="grey-text text-lighten-3" href="/keystone/signout">Sign Out</a></li>
							{{else}}
							<li><a class="grey-text text-lighten-3" href="/keystone/signin">Sign In</a></li>
							{{/if}}
						</ul>
	        </div>
	      </div>
	    </div>
	    <div class="footer-copyright">
	      <div class="container">
	      © 2014 Copyright Text
	      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	      </div>
	    </div>
    </footer>



	</body>

	<script>
	$(document).ready(function(){
		$(".drop-community").dropdown();
		$(".button-collapse").sideNav();




	})
	</script>
</html>
