<div class="container fluid blog-body"  class="main">
	<div class="row">
		<div class="col s12">
			<h2 id="blog-title"class="center-align">Reb on the Web</h2>
		</div>
	</div>
	<div class="row">
		<div class="col s2 hide-on-small-only"></div>

		<!-- <div class="col m2 hide-on-small-only" id="article-titles">
			<p id="all-div">All Articles</p>
			{{# each data.posts.results}}
				<a href="{{postUrl slug}}" class="links"><p>{{{title}}}</p></a>
			{{/each}}
		</div> -->

		<div class="col  s12 m8" id="indiv-article-content">
			{{# each data.posts.results}}
			<h4 class="center-align" id="indiv-article-title">{{{title}}}</h4>
			<p>{{{content.brief}}}</p>
			{{#if content.extended}}<p class="center-align">
				<a href="{{postUrl slug}}" class="links">Read More >>></a>
			</p>{{/if}}
			<div class="divider" ></div>
			{{/each}}
		</div>

		<div class="col s2 hide-on-small-only"></div>
	</div>
</div>
