<div class="container"  class="main">
	<h3 class="center-align">Galleries</h3>
</div>
<div class="container">
	<!-- if galleries -->
	{{#if galleryCategory}}

			<ul>
				{{#each galleryCategory}}

				<li>
					<img src="http://lorempixel.com/200/200/people"  alt="..." class="img-thumbnail">
					<p>{{name}}</p>
				</li>
			{{/each}}
			</ul>



	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>


<!-- <div class="row gallery-images">
		{{#if heroImage}}
		<div class="col-sm-4 col-md-4 gallery-image">
			<img src="{{cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">
		</div>
		{{/if}}
		<!-- <div class="col-sm-8 col-md-8">
			<!- <div class="row">
				{{#each images}}
				<div class="col-xs-4 col-sm-4 col-md-3 gallery-image">
					<img src="{{cloudinaryUrl width='300' height='300'}}" class="img-rounded">
				</div>
				{{/each}}
			</div> -->
		</div>
		<h5>{{name}}</h5> -->
